body {
  padding: 0;
  margin: 0;
}

.main-content {
  display: flex;
}

.sidebar {
  margin: 0;
  height: 100vh;
  width: 100px;
  padding-top: 25px;
  background-color: grey;
}

.page-content {
  margin: 50px auto;
  width: 70%;
}
